* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*paddings respetan*/
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  background-color: #fdfbff;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* usa toda la pantalla */
}

main {
  flex: 1; /*footer abajo*/
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

ul {
  list-style: none;
}

/*scrollbar de color*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f7efff;
}

::-webkit-scrollbar-thumb {
  background: hsl(271, 76%, 53%, 0.5);

  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7700ff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}